@model IDWORKS_STUDENT.Models.Colina_Student_Card_Accident
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>Colina_Student_Card_Accident</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDWFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDWFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDWLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDWLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDWSchool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDWSchool)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDWPolicyNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDWPolicyNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDWEffectiveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDWEffectiveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDWEffectiveDateText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDWEffectiveDateText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDWCoverageProvider)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDWCoverageProvider)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDWCoverage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDWCoverage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
